data/images/
data/models/
data/repo/onnx.venv
data/repo/shark.venv
data/nodai_SHARK.egg-info/
.vs/
ui-src/bin/
ui-src/obj/

*.vmfb
*.csv
*.pyc
*.wget-hsts
*.cache
*.BuildWithSkipAnalyzers
*.user
*.pdb
*.mlir
*.npy
*.npz
*.ckpt
*.htm
*.exe
