<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<runtime>
		<!-- XMLNS is a necessary feature. Specifies the XML namespace required for the assembly binding. Use strings "URN: Architecture-Microsoft-COM: ASM.v1" as a value. -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<PublisherPolicy Apply = "YES" />
			<!-- Specify whether to use the Publisher Policy -->
			<!-- Specifies the subdirectory for the public language runtime when loading the assembly, where privatepath is relative to the * .exe.config file, multiple folders separated by a semicolon. -->
			<probing privatePath="binaries;"/>
		</assemblyBinding>
	</runtime>

</configuration>